# Теория (не нужна для сдачи)
THEORY.md

# Leiningen
target/
.lein-*
.nrepl-port
.nrepl-history

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo
*~

# Clojure dev tools
.clj-kondo/.cache/
.lsp/.cache/

# OS
.DS_Store
Thumbs.db

# Временные файлы
*.log
*.tmp
